.Products {
  display: flex;
  flex-wrap: wrap;
  margin-right: 27%;
  margin-top: 3%;
}

.AddToCart {
  color: #3487DC;
  font-weight: 700;
  margin-bottom: 53px;
}

.AddToCart:hover {
  color: #3487DC;
  font-weight: 200;
  cursor: pointer;
}
