.Cart {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.EmptyCart {
  height: 100%;
  text-align: center;
}

.Cart-Title {
  margin-left: 5%;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.values {
  display: flex;
  justify-content: space-between;
}

.cartBox {
  width: 100%;
}

.checkoutButton {
  color: #FFFFFF;;
  background: #54A3FF 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 3px;
  margin-top: 2%;
  opacity: 1;
  padding: 5%;
}

.checkoutButton:hover {
  background: #3486E6 0% 0% no-repeat padding-box;
  cursor: pointer;
}

