.Cart {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.EmptyCart {
  height: 100%;
  text-align: center;
}

.Cart-Title {
  margin-left: 5%;
}

.checkoutContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

.values {
  display: flex;
  justify-content: space-between;
}

.cartBox {
  width: 100%;
}
