.Product {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.Image-Square {
  background: #EEEEEE 0% 0% no-repeat padding-box;
  border-radius: 3px;
  display: flex;
  height: 230px;
  justify-content: center;
  opacity: 1;
  transition-property: background;
  transition-duration: 0.8s;
  width: 262px;
}

.Image-Square:hover {
  background: #E1E1E1 0% 0% no-repeat padding-box;
}

.Product-Image {
  height: 200px;
  margin-top: 10px;
}
