.CardProduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardSquare {
  align-self: center;
  background: #EEEEEE 0% 0% no-repeat padding-box;
  border-radius: 3px;
  height: 105px;
  margin-right: 3%;
  margin-top: 3%;
  opacity: 1;
  padding: 2%;
  width: 105px;
}

.cardDetails {
  text-align: start;
  margin-right: auto;
}

.iconRemoveItem {
  min-width: 50px;
  min-width: 50px;
  align-self: center;
  cursor: pointer;
}

.priceStyle {
  color: #423B3B;
  font-weight: 700;
}
