.Home-Container {
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around;
  margin: 3%;
}

.Cart-Aside {
  position: fixed;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E1E1E1;
  box-shadow: 0 2px 2px #d9d9d9 , 0 -2px 4px 0 #d9d9d9;
  display: flex;
  min-height: 300px;
  left: 73%;
  min-width: 20%;
  padding: 1%;
  opacity: 1;
}

@media ( max-width: 750px ) {
  .Cart-Aside {
    max-width: 30%;
    left: 69%;
  }
}
